* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
  }

  label {
    font-weight: bold;
    font-size: 0.75rem;
  }

  input {
    width: 12rem;
    padding: 0.25rem;
    border: 1px solid lightgray;
  }
  
  button {
    font-size: 0.75rem;
    border: 1px solid black;
    padding: 0.25rem;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
  }

  #info {
    font-size: 0.75rem;
    color: red;
  }

  .contacts-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #0F121A
  }